* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body {
  align-content: center;
  min-height: 90vh;
}

.nav-menu-links-list-w {
  display: flex;
  flex-flow: column;
}

.nav-menu-links-list {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-self: flex-start;
}

.nav-menu-links-list a {
  text-shadow: 0ex 2ex 0ex #ff0000;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 64px;
  font-weight: 600;
  color: #000000;
}
.nav-menu-links-list a {
  display: inline-block;
  padding: 0;
}

.nav-menu-links-list a .letter {
  display: inline-block;
  position: relative;
  transform: translateY(0);
  will-change: transform;
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2ex);
  }
}

@keyframes moveDown {
  from {
    transform: translateY(-2ex);
  }
  to {
    transform: translateY(0);
  }
}

.nav-menu-links-list a:hover .letter {
  animation-name: moveUp;
  animation-duration: 0.64s;
  animation-delay: var(--delay, 0s);
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-iteration-count: 1;
}

.nav-menu-links-list a:not(:hover) .letter {
  animation-name: moveDown;
  animation-duration: 0.64s;
  animation-delay: var(--delay, 0s);
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
  animation-fill-mode: both;
  animation-direction: normal;
  animation-iteration-count: 1;
}
