* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body {
  align-content: center;
  min-height: 90vh;
}

.nav-menu-links-list-w {
  display: flex;
  flex-flow: column;
}

.nav-menu-links-list {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-self: flex-start;
}

.nav-menu-links-list a {
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 64px;
  font-weight: 600;
  color: #000000;
}
.nav-menu-links-list a {
  display: inline-block;
  padding: 0;
}

.nav-menu-links-list a .letter {
  display: inline-block;
  position: relative;
  transform: translateY(0);
  will-change: transform;
  transition:
    transform 0.64s cubic-bezier(0.2, 0.8, 0.2, 1),
    color 0.64s cubic-bezier(0.2, 0.8, 0.2, 1),
    text-shadow 0.64s cubic-bezier(0.2, 0.8, 0.2, 1);
  transition-delay: var(--delay, 0s);
  text-shadow: 0ex 2ex 0ex rgba(255, 0, 0, 0);
}

.nav-menu-links-list a:hover .letter {
  transform: translateY(-2ex);
  text-shadow: 0ex 2ex 0ex #42bf83;
}

.nav-menu-links-list a:not(:hover) .letter {
  transform: translateY(0);
  text-shadow: 0ex 2ex 0ex rgba(255, 0, 0, 0);
}
